<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is the Contact page, dudes.  Contact Ruby on Rails Tutorial
  about the sample app at the master
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
