<!DOCTYPE html>
<html>
  <head>
    <title>Sample App | Help</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Want help on the Ruby on Rails tutorial?!
      Fuhgettabout it.  Checkout out the <a href="home">Home Page</a>
    </p>
  </body>
</html>
